In [1]:
import pandas as pd

In [2]:
man=pd.read_table('../Blood-DNA-Methylation-Atlas/data/ref/EPIC.hg38.manifest.tsv',index_col='Probe_ID')[['CpG_chrm','CpG_beg']]
man=man.dropna().copy()
man['CpG_beg']=man['CpG_beg'].astype(int)
man.columns=[0,1]
man['cg']=man.index

In [3]:
man

                0          1          cg
Probe_ID
cg00000029  chr16   53434199  cg00000029
cg00000103   chr4   72604468  cg00000103
cg00000109   chr3  172198246  cg00000109
cg00000155   chr7    2550930  cg00000155
cg00000158   chr9   92248272  cg00000158
...           ...        ...         ...
rs9363764    chr6   67522148   rs9363764
rs939290     chr3   14617358    rs939290
rs951295    chr15   45707624    rs951295
rs966367     chr2   12008093    rs966367
rs9839873    chr3   86613004   rs9839873

[865904 rows x 3 columns]